/C#/Basics/.vs/Basics/FileContentIndex/45542447-3bee-46e4-a4ba-605847855371.vsidx
/C#/Basics/.vs/Basics/FileContentIndex/3c320454-1bd7-4a24-937d-a5cdff6fddfa.vsidx
/C#/Basics/.vs/Basics/FileContentIndex/78929f7f-15d7-4aad-80f5-269bcea71083.vsidx
/C#/Basics/.vs/Basics/FileContentIndex/f58655e0-4240-4b94-b023-9ab9e6eb8ef0.vsidx
/C#/Basics/.vs/Basics/FileContentIndex/f002d878-e169-43d8-954b-02b09a2b417e.vsidx
/C#/Basics/.vs/Basics/FileContentIndex/29292103-028e-49a4-b222-e676df8de8a7.vsidx
/C#/Basics/.vs/Basics/FileContentIndex/aa87b223-b480-4dfe-a0bb-535fcc66c221.vsidx
/C#/Basics/.vs/Basics/FileContentIndex/be1a09b7-2f50-460e-bf35-78ff33f248ef.vsidx
/C#/Basics/.vs/Basics/FileContentIndex/928ab088-fe3c-4f52-bcbc-faba15ce1572.vsidx
/C#/Basics/.vs/Basics/FileContentIndex/806b9a35-1f14-49b6-9bfb-355f2fb49d61.vsidx
/C#/Basics/.vs/Basics/FileContentIndex/806b9a35-1f14-49b6-9bfb-355f2fb49d61.vsidx
/C#/basics/.vs/basics/FileContentIndex/9da3295f-966a-4b42-ab7d-d453085b22ea.vsidx
/C#/basics/.vs/basics/FileContentIndex/c2d2d30a-b566-4670-9cbf-29cb8779da53.vsidx
/C#/basics/.vs/basics/FileContentIndex/c6ee6aa9-1a17-42b5-8a70-c1abfd97b362.vsidx
/C#/basics/.vs/basics/FileContentIndex/ed965833-c8ce-4f28-96ca-0a651fe40792.vsidx
/C#/basics/.vs/basics/FileContentIndex/6edc6c7b-c6d1-4344-9080-44b951bf0fbb.vsidx  