.container{
    border: 5px rebeccapurple solid;
    display: flex;
    width: 500px;
    height: 90vh;
    /* flex-direction: column-reverse;
    justify-content: flex-end; */
    /* justify-content: center;
    align-items: center */
    
    /* flex-wrap: wrap; */
    /* flex-flow: row wrap; */

}
.flex-item{
    border: 2px black solid;
    
    margin: 12px;
    width: 70px;
    height: 70px;
}

.item1{
    background-color: aquamarine;
    /* order: 3; */
}
.item2{
    background-color: rebeccapurple;
    /* order: 4; */
    /* flex-shrink: 3; */
}
.item3{
    background-color: aliceblue;
    /* order: 2; */
    /* flex-grow: 1; */
}
.item4{
    background-color: blue;
    /* order: 1; */
}

