<div class="container">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addNoteModel">Create Note<i class="bi bi-file-plus"></i></button>


    <div class="row">
        <div class="col-md-4">
            <div class="card card-body">
                <h5>Angular CRUD</h5>
                <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad odio expedita dolorem omnis officiis eveniet, soluta itaque quis optio reiciendis amet? Ratione consequatur vel tempora excepturi fugiat dicta officia laborum.</p>
                <div class="d-flex align-items-center">
                    <span class="mx-3">
                        <i class="bi bi-pen" data-bs-toggle="modal" data-bs-target="#editNoteModel"></i>
                    </span>
                    <span class="mx-3">
                        <i class="bi bi-trash"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Note -->
    <div class="modal fade" id="addNoteModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Add Daily Note</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Note Title:</label>
                  <input type="text" class="form-control" id="recipient-name">
                </div>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">Note Description:</label>
                  <textarea class="form-control" id="message-text"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Add notes</button>
            </div>
          </div>
        </div>
      </div>
    <!-- Edit Note -->
    <div class="modal fade" id="editNoteModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Notes</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Note Title:</label>
                  <input type="text" class="form-control" id="recipient-name">
                </div>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">Note Description:</label>
                  <textarea class="form-control" id="message-text"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Update notes</button>
            </div>
          </div>
        </div>
      </div>
</div>